.icon-logo-icon {
  background-image: url(./logo-icon.svg);
}
.icon-exception-403 {
  background-image: url(./exception-403.svg);
}
.icon-exception-404 {
  background-image: url(./exception-404.svg);
}
.icon-exception-500 {
  background-image: url(./exception-500.svg);
}
.icon-exception-network {
  background-image: url(./exception-network.svg);
}
.icon-exception-no-data {
  background-image: url(./exception-no-data.svg);
}
.icon-exception-wait {
  background-image: url(./exception-wait.svg);
}
