.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card-lg {
  @apply shadow-lg rounded-lg;
}

.dz-view.v202301 {
  @apply p-0 m-0 relative flex flex-row flex-shrink-0 flex-grow-0 flex-nowrap select-none;
}
.dz-view.v202301.dz-view-row {
  flex-direction: row;
  align-items: center;
}
.dz-view.v202301.dz-view-col {
  flex-direction: column;
  align-items: center;
}
.dz-view.v202301.dz-view-grid {
  flex-wrap: wrap;
}
.dz-view.v202301.dz-view-pointer {
  cursor: pointer;
}
.dz-view.v202301.dz-view-transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.dz-view.v202301::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.dz-view.v202301.dz-view-col > .w-grow {
  width: auto;
  align-self: stretch;
}
.dz-view.v202301.dz-view-col > .h-grow {
  height: 0px;
  flex-grow: 1;
}
.dz-view.v202301.dz-view-row > .w-grow {
  width: 0px;
  flex-grow: 1;
}
.dz-view.v202301.dz-view-row > .h-grow {
  height: auto;
  align-self: stretch;
}
